@media only screen and (max-width:1200px){
    #navdirect {
        margin-left: 395px;
    }
    .plant {
        padding-left: 87px;
        transition: all 1s;
    }
    .review .testi-1 {
        width: 367px;
        height: 305px;
 
    }
    .review .testi-1 img {
        width: 128px;
        height: 120px;
        position: relative;
        left: 65px;
   
    }
    .footer-item {
        padding-left: 70px;
    }
    .footer-item img {
        width: 190px;
        height: 45px;
    }

    .footer-item1 {
        padding-left: 100px;
        margin-top: 22px;
        color: white;
    }
    .footer-item2 {
        padding-left: 200px;
        margin-top: 22px;
        color: white;
    }
    /* ==========================INDEX-2================================= */

    .footer2 img {
        width: 276px;
        height: 69px;
    }
    .footer-itemb {
        padding-left: 100px;
        margin-top: 22px;
        color:#509739;
    }
    .footer-itemc {
        padding-left: 200px;
        margin-top: 22px;
        color:#509739;
    }






    /* ==========================INDEX-3================================= */
    .vission {
        width: 500px;
        border: 2px solid green;
        margin-left: 72px;
        margin-right: 75px;
        text-align: center;
        border-radius: 52px;
    }
 
    
}





@media only screen and (max-width:1023px){
    #navdirect {
        margin-left: 38px;
        text-align: center;
    }
    .services-submsg img {
        width: 237px;
        height: 240px;

    }
    .services-submsg2 img {
        width: 237px;
        height: 240px;

    }
    .row4 {
        display: flex;
        justify-content: space-around;
        margin-top: 40px;
  
        margin-left: 49px;
    }
    .youvideo {

        width: 360px;
        height: 250px;
    }
    .row5 img {
        width: 152px;
        height: 85px;
        margin-right: 14px;
    }
    .review .testi-1 {
        width: 341px;
        height: 354px;
        margin: 85px 19px 30px 76px;
    }
    .review .testi-1 img {
        width: 109px;
        height: 110px;
        position: relative;
        left: 66px;
    }

  /* ==========================INDEX-2================================= */
    .lab{
        display: none;
    }
    .phone {
        margin-left: 69px;
    }
    .mail {
        margin-left: 67px;
    }
    .form-btn {
        margin-left: 183px;
    }
 

    /* ==========================INDEX-3================================= */

    .team {
        width: 202px;
        height: 379px;
        background-color: white;
        border: 1px solid gray;
        border-radius: 10px;
        margin-bottom: 100px;
        margin-right: 24px;
        text-align: center;
    }
    .farm-gallary .gal img {
        width: 249px;
        height: 300px;
        border-radius: 30px;
    }
    .farm-gallary .gal {
        width: 250px;
        height: 300px;
        background-color: white;
        border-radius: 30px;
        margin-bottom: 49px;
        margin-right: 50px;
    }
    .footer-item1 {
        padding-left: 100px;
        margin-top: 22px;
        color: white;
    }
    .footer-item2 {
        padding-left: 100px;
        margin-top: 22px;
        color: white;
    }

}


@media only screen and (max-width:768px){
    .navbar {
        padding: 0rem;
    }
    .servies {
        margin: 30px 0 30px 64px;
    }
    .services-submsg img {
        width: 205px;
        height: 240px;
    }
    .services-submsg2 img {
        width: 205px;
        height: 240px;
    }
    .plant, .harvest {
        margin-right: -8px;
    }
    .row4 {
        display: flex;
        justify-content: space-around;
        margin-top: 40px;
        margin-left: 49px;
        flex-direction: column;
    }
    .youvideo {
     margin: 0;
    }
    .row5-logo {
        display: flex;
        flex-direction: column;
    }
    .review {
        display: flex;
        animation-name: conte;
        animation-duration: 4s;
        flex-direction: column;
        align-items: center;
    }
    .review .testi-1 img {
        width: 109px;
        height: 110px;
        position: relative;
        left: 113px;
    }
    .footer {
        display: flex;
        background-color: #509739;
        line-height: 40px;
        padding-top: 30px;
        flex-direction: column;
    }
    .footer-item {
        padding-left: 63px;
    }
    .footer-item img {
     
        width: 199px;
        margin-left: 20px;

    }

    /* ==========================INDEX-3================================= */
    .seC2 {
        justify-content: center;
        margin: 174px auto;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .team-container {
        display: flex;
        justify-content: center;
        margin-left: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .farm-gallary {
        display: flex;
        justify-content: center;
        margin-left: 35px;
        flex-direction: column;
        align-items: center;
    }
    .footer-item1 {
        padding-left: 80px;
        margin-top: 22px;
        color: white;
    }
    .footer-item2 {
        padding-left: 80px;
        margin-top: 22px;
        color: white;
    }
    
    /* ==========================INDEX-2================================= */
    .form-btn {
        margin-left: 140px;
    }
    .footer2 {
        display: flex;
        background-color: white;
        line-height: 40px;
        padding-top: 30px;
        flex-direction: column;
    }

    .footer2 img {
        width: 250px;
        height: 69px;
    }
    .footer-itemb {
        padding-left: 80px;
        margin-top: 22px;
        color:#509739;
    }
    .footer-itemc {
        padding-left: 80px;
        margin-top: 22px;
        color: #509739;
    }

}



@media only screen and (max-width:500px){
    .logo {
        width: 180px;
        height: 58px;
        padding-left: 5px;
    }
    .content {
        padding: 217px 0 0 40px;
    }
    .content h1 {
        color: white;
        font-size: 31px;
        font-weight: 700;
    }
    .content p {
        color: white;
        font-size: 18px;
        font-weight: 200;
        width: 292px;
        height: 50px;
    }
    .sec2 .cont-btn {
        border-radius: 12px;
        margin-top: 10px;
        margin-left: 118px;
    }
    .plant {
        padding-left: 0;
        transition: all 1s;
    }
    .servies {
        margin: 30px 0 30px 64px;
        margin: 50px;
    }
 
    .services-submsg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
 
    .services-submsg2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }
    .row3 {
        background-color: #509739;
        height: 230px;
        text-align: center;
    }
    .row3 h1 {
        color: white;
        padding-top: 20px;
        font-size: 25px;
    }
    .row4 {
        display: flex;
        justify-content: space-around;
        margin-top: 40px;
        margin-left: 0px;
        flex-direction: column;
    }
    .row4 .explore {
        width: 274px;
        text-align: center;
        color: #509739;
        font-weight: 800;
        animation-name: slideInLeft;
        animation-duration: 3s;
    }
    .review .testi-1 img {
        width: 88px;
        height: 87px;
        position: relative;
        left: 59px;
    }
    .review .testi-1 {
        width: 211px;
        height: 354px;
        margin: 65px 10px;
    }
    .row5 img {
        width: 137px;
        height: 66px;
        margin-right: 0px;
        padding: 7px;
    }

    .footer-item {
        padding-left: 23px;
    }
    .footer-contact p:nth-child(1) {
        line-height: 24px;
        margin-top: 30px;
    }
    .footer-item1 {
        padding-left: 49px;
        margin-top: 30px;
        color: white;
    }
    .footer-item2 {
        padding-left: 49px;
        margin-top: 30px;
        color: white;
    }
    .youvideo {
        width: 240px;
        height: 250px;
    }
 /* ==========================INDEX-2================================= */

    .register {
        width: 500px;
        height: 600px;
        background-color: #509739;
        margin-top: 79px;
        padding-top: 54em;
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        margin-bottom: 191px;
    }


    .formside {
        width: 415px;
        height: 580px;
        text-align: start;
        margin-top: 51px;
        margin-bottom: 906px;
        padding-bottom: 118em;
        margin-left: 42px;
        border-radius: 20px;
    }


    .imageside {

        display: flex;
        flex-direction: row;
        padding-top: 30px;
        background-image: url(../images/paki-bg2.jpg);
        background-repeat: no-repeat;
        width: 391px;
        margin-top: 1659px;
        margin-left: 60px;
        border-radius: 20px;
    }
    .footer2 {
        display: flex;
        background-color: white;
        line-height: 40px;
        padding-top: 30px;
        flex-direction: column;
        width: 406px;
        text-align: center;

    }
    /* ==========================INDEX-3================================= */
    .conten {
        padding: 221px 0 0 40px;
    }
    .conten h1 {
        color: white;
        font-size: 39px;
        font-weight: 700;
    }
    .vission {
        width: 278px;
        border: 2px solid green;
        text-align: center;
        border-radius: 52px;
 
        margin: 120px auto 10px auto;
    }
   
    .seC2 img {
        width: 288px;
        height: 300px;
    }
}

